<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="src/main/resources/logs/haogrgr-shiro.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t][%d{yyy-MM-dd HH:mm:ss.SSS}][%c:%L] %p %x : %m%n" />
		</layout>
	</appender>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t][%d{yyy-MM-dd HH:mm:ss.SSS}][%c:%L] %p %x : %m%n" />
		</layout>
	</appender>
	
	<appender name="stdout-sample" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss.SSS}][%c{1}:%L] %p : %m%n" />
		</layout>
	</appender>

	<logger name="com.haogrgr.mybatis">
		<level value="debug" />
	</logger>

	<root>
		<priority value="warn" />
		<appender-ref ref="stdout-sample" />
	</root>

</log4j:configuration>